{% extends "store/user.html"%}
{% block content %}

<div class="form-container">
    <div class="slide-controls">
       <input type="radio" name="slide" id="login" checked>
       <input type="radio" name="slide" id="signup">
       <label for="login" class="slide login tab-links active-link" onclick="opentab('login-form')">Login</label>
       <label for="signup" class="slide signup tab-links" onclick="opentab('signup-form')">SignUp</label>      
       <div class="slider-tab"></div>
    </div>
    <div class="form-inner">
       <form action="#" class="login tab-contents active-tab" id="login-form">
        <div class="field">
            <input type="text" placeholder="Username" name="username" id="username" class="form-control">
            <label class="form-label" for="username">Username</label>
        </div>
            <div class="field">
                <input type="password" placeholder="Password" name="password" id="password" class="form-control">
                <label class="form-label" for="password">Password</label>
            </div>
            <div class="pass-link">
              <a href="#">Reset password?</a>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Login">
            </div>
            <div class="signup-link">
              Don't Have Account? <a href="/register">Create A New</a>
            </div>
       </form>
       <form action="#" class="signup tab-contents" id="signup-form">
          <div class="field">
              <input type="text" id="name" placeholder="Name" name="name" required>
            </div>
            <div class="field">
              <input type="text" placeholder="Username" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Password" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Confirm Password" required>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="SignUp">
            </div>
       </form>
    </div>
</div>

{% endblock content %}