<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sign Up | Log In</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="wrapper">
       <div class="title-text">
          <div class="title login">
             Welcome to Viola 
          </div>
          <div class="title signup">
             Account
          </div>
       </div>
       <div class="form-container">
          <div class="slide-controls">
             <input type="radio" name="slide" id="login" checked>
             {% comment %} <input type="radio" name="slide" id="signup"> {% endcomment %}
             <label for="login" class="slide login tab-links active-link" onclick="opentab('login-form')">Login</label>
             <label for="signup" class="slide signup tab-links" onclick="opentab('signup-form')">SignUp</label>      
             <div class="slider-tab"></div>
          </div>
          <div class="form-inner">
             <form action="#" class="login tab-contents active-tab" id="login-form">
                <div class="field">
                  <input type="text" name="username" id="username" class="form-control">
                </div>
                  <div class="field">
                    <input type="password" name="password" id="password" class="form-control">
                    <label class="form-label" for="password"></label>                  </div>
                  <div class="pass-link">
                  </div>
                  <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Login">
                  </div>
                  <div class="signup-link">
                    Don't Have Account? <a href="">Create A New</a>
                  </div>
             </form>
             <form action="#" class="signup tab-contents" id="signup-form">
                <div class="field">
                    <input type="text" name="username" id="username" class="form-control">
                    <label class="form-label" for="username">Username</label> 
                </div>
                <div class="field">
                  <input type="text" name="username" id="username" class="form-control">
                  <label class="form-label" for="username">Username</label>
                </div>
                <div class="field">
                  <input type="password" name="password" id="password" class="form-control">
                  <label class="form-label" for="password">Password</label>
                </div>
                <div class="field">
                    <input type="password" placeholder="Confirm Password" required>
                </div>
                  <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="SignUp">
                  </div>
             </form>
          </div>
       </div>
    </div>
    <script>
        const tablinks = document.querySelectorAll(".tab-links");
      const tabcontents = document.querySelectorAll(".tab-contents");

      function opentab(tabname) {
        for (const tablink of tablinks) {
          tablink.classList.remove("active-link");
        }
        for (const tabcontent of tabcontents) {
          tabcontent.classList.remove("active-tab");
        }
      
        const selectedTab = document.getElementById(tabname);
        const selectedTabLink = document.querySelector(`.tab-links[onclick="opentab('${tabname}')"]`);
      
        selectedTabLink.classList.add("active-link");
        selectedTab.classList.add("active-tab");
      }
    </script>
</body>
</html>